[submodule "espeleorobo-nuc"]
	path = espeleorobo-nuc
	url = https://github.com/ITVRoC/espeleorobo-nuc.git
	branch = master
[submodule "espeleorobo-raspberry"]
	path = espeleorobo-raspberry
	url = https://github.com/ITVRoC/espeleorobo-raspberry.git
	branch = master
[submodule "espeleorobo-rugged"]
	path = espeleorobo-rugged
	url = https://github.com/ITVRoC/espeleorobo-rugged.git
	branch = master
[submodule "can-driver-files"]
	path = can-driver-files
	url = https://github.com/ITVRoC/can-driver-files.git
	branch = master
[submodule "espeleo_arduino"]
	path = espeleo_arduino
	url = https://github.com/ITVRoC/espeleo_arduino.git
