[submodule "espeleo_io"]
	path = espeleo_io
	url = https://github.com/ITVRoC/espeleo_io.git

[submodule "espeleo_teleop"]
	path = espeleo_teleop
	url = git@github.com:ITVRoC/espeleo_teleop.git

[submodule "espeleo_locomotion"]
	path = espeleo_locomotion
	url = git@github.com:ITVRoC/espeleo_locomotion.git

